<a href="https://colab.research.google.com/github/gptix/DS-Unit-2-Linear-Models/blob/master/ASSIGNMENT_Jud_Taylor_REVISED_assignment_regression_classification_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

# Assignment

## Set up for Import.

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

## Import useful code.

In [0]:
# Import userful code.
import sys
import warnings
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

import pandas as pd
import pandas_profiling
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import plotly.express as px

import category_encoders as ce

## Import raw data.

In [0]:
# Read New York City property sales data
df_raw = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Make a non-raw copy of df.

In [0]:
df = df_raw

## Clean data.

In [0]:
# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

# df.columns

## Filter data.

In [0]:
# Use a subset of the data where BUILDING_CLASS_CATEGORY == 
# '01 ONE FAMILY DWELLINGS' and the sale price 
# was more than 100 thousand and less than 2 million.
# df_raw.shape
df = df[df['BUILDING_CLASS_CATEGORY']=='01 ONE FAMILY DWELLINGS']

df = df[(df['SALE_PRICE']<2e6) & (df['SALE_PRICE']>1e5)]

# df.columns
# df.shape

(3151, 21)

## Engineer some more.

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

## Take a look at data.

In [0]:
# Review data.
# df
# df.describe()
# df.describe().T
# df.head()
# df.tail()
# df.columns
# df.dtypes
# df['bedrooms'].describe()
df.shape
df.columns.isna()
# df.isna()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [0]:
df['SALE_DATE']
'01/01/2019' < '01/02/2019'

True

## Split for Train and Test

In [0]:
# Use data from January â€” March 2019 to train. 
df_train = df[(df['SALE_DATE'] >= '01/01/2019') & (df['SALE_DATE'] < '04/01/2019')]
df_train.shape

# Use data from April 2019 to test.
df_test = df[(df['SALE_DATE'] >= '04/01/2019') & (df['SALE_DATE'] < '05/01/2019')]
df_test.shape

(644, 21)

## Do one-hot encoding of categorical features.

In [0]:
# find categorical features.
df_train.describe(exclude='number').T.sort_values(by='unique')

                               count unique                      top  freq
BUILDING_CLASS_CATEGORY         2507      1  01 ONE FAMILY DWELLINGS  2507
APARTMENT_NUMBER                   1      1                      RP.     1
TAX_CLASS_AT_PRESENT            2507      2                        1  2476
BOROUGH                         2507      5                        4  1204
NEIGHBORHOOD                    2507     11                    OTHER  1911
BUILDING_CLASS_AT_TIME_OF_SALE  2507     11                       A1   919
BUILDING_CLASS_AT_PRESENT       2507     13                       A1   919
SALE_DATE                       2507     68               01/31/2019    78
LAND_SQUARE_FEET                2507    887                    4,000   234
ADDRESS                         2507   2497      118-20 202ND STREET     2

In [0]:
target = 'SALE_PRICE'

# Rows w/ only one value add no analytical value. 
only_one_value = ['BUILDING_CLASS_CATEGORY','APARTMENT_NUMBER']
high_cardinality = ['ADDRESS', 'LAND_SQUARE_FEET', 'SALE_DATE']

features = df_train.columns.drop([target] + high_cardinality + only_one_value)

df_train[features].T

                                44              61     ...  18134           18147
BOROUGH                             3               4  ...      5               4
NEIGHBORHOOD                    OTHER  QUEENS VILLAGE  ...  OTHER  QUEENS VILLAGE
TAX_CLASS_AT_PRESENT                1               1  ...      1               1
BLOCK                            5495            7918  ...   3395           11159
LOT                               801              72  ...     37              11
EASE-MENT                         NaN             NaN  ...    NaN             NaN
BUILDING_CLASS_AT_PRESENT          A9              A1  ...     A2              A0
ZIP_CODE                        11230           11427  ...  10305           11429
RESIDENTIAL_UNITS                   1               1  ...      1               1
COMMERCIAL_UNITS                    0               0  ...      0               0
TOTAL_UNITS                         1               1  ...      1               1
GROSS_SQUARE_FEET                1325            2001  ...    621            1163
YEAR_BUILT                       1930            1940  ...   1930            1950
TAX_CLASS_AT_TIME_OF_SALE           1               1  ...      1               1
BUILDING_CLASS_AT_TIME_OF_SALE     A9              A1  ...     A2              A0

[15 rows x 2507 columns]

In [88]:
df_train.describe(include='number').T

                            count           mean  ...       75%        max
BLOCK                      2507.0    6758.303949  ...    9888.5    16350.0
LOT                        2507.0      75.778221  ...      70.0     2720.0
EASE-MENT                     0.0            NaN  ...       NaN        NaN
ZIP_CODE                   2507.0   10993.398484  ...   11413.0    11697.0
RESIDENTIAL_UNITS          2507.0       0.987635  ...       1.0        1.0
COMMERCIAL_UNITS           2507.0       0.016354  ...       0.0        2.0
TOTAL_UNITS                2507.0       1.003989  ...       1.0        3.0
GROSS_SQUARE_FEET          2507.0    1473.744715  ...    1683.0     7875.0
YEAR_BUILT                 2507.0    1944.766653  ...    1960.0     2018.0
TAX_CLASS_AT_TIME_OF_SALE  2507.0       1.000000  ...       1.0        1.0
SALE_PRICE                 2507.0  621573.742321  ...  750000.0  1955000.0

[11 rows x 8 columns]

In [89]:
df.columns[df_train.isna().any()].tolist()

['EASE-MENT', 'APARTMENT_NUMBER']

## Drop Columns (as features) that have NaN
These look unimportant.

In [91]:
features = df_train.columns.drop([target] + 
                                 high_cardinality + 
                                 only_one_value + 
                                 ['EASE-MENT', 'APARTMENT_NUMBER'])

features

df_train[features].T

                                44              61     ...  18134           18147
BOROUGH                             3               4  ...      5               4
NEIGHBORHOOD                    OTHER  QUEENS VILLAGE  ...  OTHER  QUEENS VILLAGE
TAX_CLASS_AT_PRESENT                1               1  ...      1               1
BLOCK                            5495            7918  ...   3395           11159
LOT                               801              72  ...     37              11
BUILDING_CLASS_AT_PRESENT          A9              A1  ...     A2              A0
ZIP_CODE                        11230           11427  ...  10305           11429
RESIDENTIAL_UNITS                   1               1  ...      1               1
COMMERCIAL_UNITS                    0               0  ...      0               0
TOTAL_UNITS                         1               1  ...      1               1
GROSS_SQUARE_FEET                1325            2001  ...    621            1163
YEAR_BUILT                       1930            1940  ...   1930            1950
TAX_CLASS_AT_TIME_OF_SALE           1               1  ...      1               1
BUILDING_CLASS_AT_TIME_OF_SALE     A9              A1  ...     A2              A0

[14 rows x 2507 columns]

## Split train and test sets into X matrix and y vector

In [0]:
X_train = df_train[features]
y_train = df_train[target]
X_test = df_test[features]
y_test = df_test[target]

## Do One Hot Encoder

In [0]:
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)

In [97]:
X_train

       BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44             1  ...                                  0
61             0  ...                                  0
78             0  ...                                  0
108            1  ...                                  0
111            1  ...                                  0
...          ...  ...                                ...
18129          0  ...                                  0
18130          0  ...                                  0
18132          0  ...                                  0
18134          0  ...                                  0
18147          0  ...                                  0

[2507 rows x 51 columns]